{% extends "base.html" %}
{% load i18n %}

{% block title %}Terms of Service{% endblock %}

{% block content %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
	pellentesque eros nec malesuada imperdiet. Duis aliquet ut odio in
	semper. Donec vel purus at magna condimentum vulputate. Nullam sit amet
	lobortis nisi, tempus egestas eros. In eros odio, ullamcorper nec
	tincidunt vitae, fringilla eget lacus. Sed auctor fringilla lacus sed
	aliquam. Curabitur a laoreet quam, sit amet dapibus sapien. Mauris
	sollicitudin lacinia neque, condimentum vestibulum arcu lobortis quis.</p>

<p>Aliquam tincidunt lorem diam, ac condimentum ante scelerisque eu.
	Quisque posuere blandit tortor vel ullamcorper. Quisque sollicitudin,
	odio quis imperdiet aliquam, felis nibh molestie dolor, nec commodo ex
	diam et urna. Nunc sollicitudin, risus at accumsan placerat, nulla nunc
	pharetra sapien, vel rhoncus nibh nisl at tortor. Duis quis ultricies
	orci. Sed sodales vulputate nunc vitae commodo. Vestibulum ornare eros
	quis laoreet tincidunt.</p>

<p>Vestibulum quis quam rutrum metus porta facilisis ut eu nunc.
	Nulla facilisi. Aenean sagittis iaculis lacus eget auctor. Integer elit
	augue, blandit vel nisl in, rutrum maximus ante. Aliquam erat volutpat.
	Phasellus lacinia felis ut enim pretium blandit. Phasellus congue nibh
	vel sodales ullamcorper. Mauris ornare libero auctor nibh pellentesque,
	eu mattis tellus cursus. Donec eleifend pretium leo eget porttitor.
	Aliquam a laoreet turpis. Proin ac ultrices elit, quis consequat augue.</p>

<p>Fusce laoreet odio vitae diam viverra imperdiet. Aliquam aliquet
	libero ut lacus ornare, quis dictum metus interdum. Cras pharetra odio
	ut risus iaculis dictum. Etiam eget vestibulum libero, vestibulum
	sodales dolor. Etiam sed luctus tortor, non placerat mauris.
	Suspendisse pharetra fringilla iaculis. Vivamus eleifend nibh diam, eu
	iaculis massa finibus a. Nullam ligula eros, commodo tristique
	porttitor in, venenatis sit amet orci. Quisque maximus, lacus nec
	molestie pellentesque, nulla metus vulputate ipsum, sed suscipit sem
	nisl id justo. Suspendisse dapibus laoreet ipsum, sit amet finibus
	mauris sollicitudin sed. Duis elementum eros eu urna vestibulum
	condimentum.</p>

<p>Proin fringilla ultrices nunc in facilisis. Nam sit amet ipsum
	lorem. Praesent facilisis turpis et urna euismod, eu lacinia ante
	ullamcorper. Quisque interdum, leo id pharetra varius, lectus nunc
	tempus eros, at luctus dui odio ac ligula. Praesent pulvinar felis non
	diam fermentum tincidunt. Nunc sagittis rutrum risus, vel egestas dolor
	cursus sit amet. Pellentesque placerat urna sit amet diam aliquam
	mattis. Sed eget gravida massa.</p>

<div class="buttons">
  <input class="btn btn-primary"
  	type="button" 
    onclick="javascript:history.go(-1);"
		value="Back" />
</div>

{% endblock %}