{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% if project.is_active %}
	Project Details
{% else %}
	Project Approval
{% endif %}
{% endblock %}

{% block content %}

{% include 'jenkins_auth/project.html' %} 

{% if project.is_active %}
<!-- project is active -->
 <div class="buttons">
	<input  class="btn btn-primary"
    type="button" 
   	onclick="location.href='{% url 'staff_project' %}'"
		value="Back" />

	<input  class="btn btn-danger"
		type="button"
  	onclick="location.href='{% url 'staff_project_delete' project.id %}'"
  	value="Delete Project" />
</div>

{% else %}
<!-- project waiting approval -->
<div class="buttons">
	<form method="post" action="approve/">
  {% csrf_token %}
	 	<input class="btn btn-success"
	 		type="submit"
	 		value="Approve" />

 		<input class="btn btn-danger"
			type="button"
		  onclick="location.href='{% url 'staff_project_reject' project.id %}'"
			value="Reject" />

		<input class="btn btn-primary"
			type="button"
		  onclick="location.href='{% url 'staff_project_approval' %}'"
			value="Cancel" />
	</form>
</div>
{% endif %}

{% endblock %}