{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<form method="post" action="" class="form-horizontal">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="buttons">
  	<input class="btn btn-primary" type="submit"
  		value="{% trans 'SAVE' %}" />
		<input class="btn btn-primary" type="button"
			onclick="location.href='{% url 'profile' %}'" value="Cancel" />
	</div>
</form>

{% endblock %}

{# This is used by django.contrib.auth #}
