{% extends "registration/registration_base.html" %}
{% load i18n jenkins_auth_extras %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>
  {% blocktrans %}
  Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
  {% endblocktrans %}
</p>
<form method="post" action="" class="form-horizontal">
  {% csrf_token %}

  {% form_as_bootstrap form %}

  <div class="buttons">
    <input class="btn btn-primary" type="submit" value="{% trans 'Reset password' %}" />
  </div>

</form>
{% endblock %}


{# This is used by django.contrib.auth #}
